.projects-main-container  {
    margin-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    

}

.title-container {
   margin-left: 250px;
}

.title-container h3{
    color: #f55e5e ;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  
}

.projects-card-right {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.projects-card-left {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 70px;
}

.project-image {
    border-radius: 10px;
}

.projects-main-container button {
    border: none;
    background-color: rgb(228, 237, 248);
    font-weight: 800;
    cursor: pointer;
}

.projects-text {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-card-left h2{
    margin-bottom: 10px;
}

.projects-card-right h2{
    margin-bottom: 10px;
}

.project-button-container {
  display: flex;
  gap: 20px;
  margin-bottom: 7px;
  
}